## Deliverable 2. Create a Customer Travel Destinations Map.

In [68]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [69]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Camacha,PT,33.0833,-16.3333,63.82,88,40,5.75,scattered clouds
1,1,Cherskiy,RU,68.7500,161.3000,47.19,71,100,10.94,overcast clouds
2,2,Saldanha,ZA,-33.0117,17.9442,60.96,77,54,4.23,broken clouds
3,3,San Lorenzo,PY,-25.3333,-57.5333,49.59,76,0,0.00,clear sky
4,4,Bara,NG,10.3744,10.7288,86.23,49,100,10.65,overcast clouds

In [70]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [71]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Bara,NG,10.3744,10.7288,86.23,49,100,10.65,overcast clouds
10,10,Hithadhoo,MV,-0.6000,73.0833,84.40,73,100,17.00,overcast clouds
13,13,Georgetown,MY,5.4112,100.3354,87.73,72,20,3.44,few clouds
15,15,Rikitea,PF,-23.1203,-134.9692,77.05,76,1,16.69,clear sky
18,18,Maymyo,MM,22.0333,96.4667,77.50,71,96,4.29,overcast clouds
23,23,Vaini,TO,-21.2000,-175.2000,77.16,65,20,10.36,few clouds
24,24,Phonhong,LA,18.5007,102.4166,73.99,93,100,3.00,overcast clouds
26,26,San Cristobal,VE,7.7669,-72.2250,77.18,91,99,3.20,overcast clouds
28,28,Puerto Ayora,EC,-0.7393,-90.3518,72.55,96,40,4.32,scattered clouds
31,31,Ponta Do Sol,PT,32.6667,-17.1000,70.00,87,31,5.77,scattered clouds

In [72]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                293
City                   293
Country                290
Lat                    293
Lng                    293
Max Temp               293
Humidity               293
Cloudiness             293
Wind Speed             293
Current Description    293
dtype: int64

In [73]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Bara,NG,10.3744,10.7288,86.23,49,100,10.65,overcast clouds
10,10,Hithadhoo,MV,-0.6000,73.0833,84.40,73,100,17.00,overcast clouds
13,13,Georgetown,MY,5.4112,100.3354,87.73,72,20,3.44,few clouds
15,15,Rikitea,PF,-23.1203,-134.9692,77.05,76,1,16.69,clear sky
18,18,Maymyo,MM,22.0333,96.4667,77.50,71,96,4.29,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
689,689,Pakala,IN,13.4667,79.1167,81.01,64,100,0.67,overcast clouds
692,692,Goure,NE,13.9835,10.2704,75.58,10,19,9.10,few clouds
698,698,Maceio,BR,-9.6658,-35.7353,74.64,94,20,3.44,few clouds
700,700,Ayagoz,KZ,47.9714,80.4392,73.06,31,7,4.23,clear sky
701,701,Sibu,MY,2.3000,111.8167,82.71,74,20,3.44,few clouds

In [74]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bara,NG,86.23,overcast clouds,10.3744,10.7288,
10,Hithadhoo,MV,84.40,overcast clouds,-0.6000,73.0833,
13,Georgetown,MY,87.73,few clouds,5.4112,100.3354,
15,Rikitea,PF,77.05,clear sky,-23.1203,-134.9692,
18,Maymyo,MM,77.50,overcast clouds,22.0333,96.4667,
23,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
24,Phonhong,LA,73.99,overcast clouds,18.5007,102.4166,
26,San Cristobal,VE,77.18,overcast clouds,7.7669,-72.2250,
28,Puerto Ayora,EC,72.55,scattered clouds,-0.7393,-90.3518,
31,Ponta Do Sol,PT,70.00,scattered clouds,32.6667,-17.1000,

In [75]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [76]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bara,NG,86.23,overcast clouds,10.3744,10.7288,
10,Hithadhoo,MV,84.40,overcast clouds,-0.6000,73.0833,Scoop Guest House
13,Georgetown,MY,87.73,few clouds,5.4112,100.3354,Cititel Penang
15,Rikitea,PF,77.05,clear sky,-23.1203,-134.9692,People ThankYou
18,Maymyo,MM,77.50,overcast clouds,22.0333,96.4667,Tiger Hotel

In [77]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [78]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [80]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))